<!DOCTYPE html>
<html>

<head>
	<title>Form</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>



<body>
	<form action="globallogic/v1/tests" method="POST">
		<fieldset>
			<label class="input-label" style="display: inline-block; width: 70px; margin-bottom: 5px;">Pattern:</label> <input type="text" name="pattern" id="pattern" size="10" required> <br>
			<label class="input-label" style="display: inline-block; width: 70px; margin-bottom: 5px;">Sentence:</label> <input type="text" name="sentence" id="sentence" size="39" required> <br>
			
			<input type="submit" value="Submit" id="submit">
			<input type="reset" value="Reset">
		</fieldset>
	</form>
</body>



</html>